.lg-outer.lg-visible{
  z-index: 1500;
}

.lg-backdrop{
  z-index: 1200;
}

img{
  max-width: 100%;
}

.csv-link-c{
  border-radius: 24px;
  height: 48px;
  min-width: 230px;
  border: solid 3px rgba(217, 41, 28, 0.3);
  font-size: 20px;
  text-transform: none;
  text-align: center;
  background: #d9291c;
  color: white;
  text-decoration: none;
  line-height: 40px;
}

h1, h2, h3, h4{
  font-family: 'veneer', sans-serif!important;
}

h1{
  font-size: 86px;
  line-height: 87px;
}
h2{
  font-size: 46px;
  line-height: 47px;
}
h3{
  font-size: 36px;
  line-height: 37px;
}
h4{
  font-size: 29px;
  line-height: 30px;
}
h5{
  font-size: 24px;
  line-height: 25px;
}

.footer-bg-purple{
  position: relative;
  svg{
    width: 120%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -3;
  }
}
.footer-bg-red{
  position: relative;
  svg{
    width: 120%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -3;
  }
}
/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
// body::-webkit-scrollbar {
//   background-color: transparent;
//   width: 6px;
// }

// /* background of the scrollbar except button or resizer */
// body::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// /* scrollbar itself */
// body::-webkit-scrollbar-thumb {
//   background-color: rgba(255, 255, 255, 0.4);
//   border-radius: 3px;
//   cursor: pointer;
//   &:hover {
//     background-color: rgba(255, 255, 255, 0.3);
//   }
// }

// /* set button(top and bottom of the scrollbar) */
// body::-webkit-scrollbar-button {
//   display: none;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   transition: background-color 9999s ease-in-out 0s !important;
// }

// input:-webkit-autofill {
//   -webkit-text-fill-color: white !important;
// }
